<div class="container">
  <h1 class="headline"><a href="{{ youtubeLink }}" target="_blank">{{ effectTitle }}</a></h1>

  <div class="demo">
    <div class="demo-wrapper fill-demo">
      <ng-content></ng-content>
    </div>
  </div>
  <div class="meta">
    <div class="meta-content">

      <table>
        <tr>
          <td class="label">Source</td>
          <td><a href="{{ githubLink }}" target="_blank">Github</a></td>
        </tr>

        <tr>
          <td class="label">YouTube</td>
          <td><a href="{{ youtubeLink }}" target="_blank">{{ videoTitle }}</a></td>
        </tr>

        <tr>
          <td class="label">Time</td>
          <td>{{ time }}</td>
        </tr>

        <tr>
          <td class="label">Agency</td>
          <td><a href="{{ agencyWebsite }}" target="_blank">{{ agency }}</a></td>
        </tr>

        <tr>
          <td class="label">URL</td>
          <td><a href="{{ website }}" target="_blank">{{ website }}</a></td>
        </tr>

        <tr>
          <td class="label">&lt;Skill(s)&gt;</td>
          <td>{{ skill }}</td>
        </tr>
      </table>
    </div>
  </div>

</div>


