:host {
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: none;
  overflow: hidden;

}

h1 {
  font-size: 14em;
  color: white;
}

.cursor {
  background: white;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  mix-blend-mode: difference;
  transition: height 300ms ease, width 300ms ease;

  &--big {
    height: 30px;
    width: 30px;
  }
}
