<div class="container">
  <h1 class="headline"><a href="{{ youtubeLink }}" target="_blank">{{ effectTitle }}</a></h1>

  <div class="grid">
    <div class="demo">
      <ng-content></ng-content>
    </div>
    <div class="meta">
      <div class="meta-content">

        <table>
          <tr>
            <td class="label">Source</td>
            <td><a href="{{ githubLink }}" target="_blank">Github</a></td>
          </tr>

          <tr>
            <td class="label">YouTube</td>
            <td><a href="{{ youtubeLink }}" target="_blank">{{ videoTitle }}</a></td>
          </tr>

          <tr>
            <td class="label">Time</td>
            <td>{{ time }}</td>
          </tr>
        </table>
        <table>
          <tr>
            <td class="label">Agency</td>
            <td><a href="{{ agencyWebsite }}" target="_blank">{{ agency }}</a></td>
          </tr>

          <tr>
            <td class="label">URL</td>
            <td><a href="{{ website }}" target="_blank">{{ website }}</a></td>
          </tr>

          <tr>
            <td class="label">&lt;Skill(s)&gt;</td>
            <td>{{ skill }}</td>
          </tr>
        </table>
      </div>

      <!--<div class="video-container">-->
        <!--<iframe width="560" height="315" src="https://www.youtube.com/embed/KKZyB3bc52Q" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>-->
      <!--</div>-->
    </div>
  </div>

</div>


