:host {
  display: block;
  margin: 0 auto;
  margin-bottom: 60px;
  padding: 0 15px;

  @media (min-width: 768px){
    max-width: 1280px;
    padding: 0 30px;
  }

}

.container {
  padding: 30px;
  background: white;
}

h1 {
  margin-bottom: 20px;
  line-height: 1;
}

.grid {
  display: block;

  @media (min-width: 768px){
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 30px;
  }
}

.demo {
  grid-column: 1 / 9;
  position: relative;
  padding-bottom: calc(50% + 30px);
  border: 2px solid black;
  border-radius: 2px;
  margin-bottom: 20px;

  @media (min-width: 768px){
    margin-bottom: 0;
  }
}

.meta {
  grid-column: 9 / 13;
  display: flex;
  align-items: center;
}


.meta-content {
  width: 100%;

  display: block;

  @media (min-width: 640px){
    display: flex;
  }

  @media (min-width: 768px){
    display: block;
  }

}

table {

  margin: 0;

  @media (min-width: 640px){
    margin-right: 40px;
  }

  @media (min-width: 768px){
    margin-right: 0;
  }

  td {
    line-height: 1.6;
    text-align: left;
    font-weight: 400;
    font-size: 13px;
  }

  .label {
    font-weight: 300;
    padding-right: 10px;
    text-align: right;
    font-size: 10px;
    text-transform: uppercase;
  }

}
