@import url('https://fonts.googleapis.com/css?family=Karla&display=swap');

:host {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top:0;
  left: 0;
  height: 100%;
  font-family: 'Karla';
}

.btn-wrapper {
  position: relative;
  cursor: pointer;
  &:after {
    content: "";
    position: absolute;
    width: 200%;
    padding-bottom: 200%;
    //background: rgba(red, 0.2);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &:hover {
    .btn {
      transform: rotate(0);
      .btn__label {
        &:after {
          width: 100%;
        }
      }

      svg {
        path {
          stroke-dashoffset: -164;
        }
      }
    }
  }
}

.btn {
  position: relative;
  transform: rotate(-90deg);
  transition: all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
  cursor: pointer;
  transform-origin: left center;

  svg {
    width: 80%;
    path {
      stroke: black;
      transition: all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);

      fill: none;
      stroke-dasharray: 164;
    }
  }

  .btn__circle {
    position: absolute;
    top: 50%;
    transform: translate(-35%, -50%);
    left: 0;
  }

  .btn__label {
    font-size: 20px;
    text-transform: uppercase;
    position: relative;

    &:after {
      position: absolute;
      content: "";
      height: 1px;
      right: 0;
      bottom: -2px;
      width: 0;
      background: black;
      transition: all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
    }
  }
}


