* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  min-height: 2000px;
  display: flex;
  flex-direction: column;
}

body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  background-color: #cdedfd;
  background-image: linear-gradient(0, #cdedfd 0%, #ffec82 37%, #ffcfd2 100%);
  font-family: 'Poppins', 'Helvetica';
  padding: 60px 0;
}

h1.headline {
  font-weight: 900;
  font-style: italic;
  background-color: #ff1493;
  background-image: linear-gradient(319deg, #ff1493 0%, #0000ff 37%, #ff8c00 100%);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;

  font-size: 22px;

  @media (min-width: 768px){
    font-size: 32px;
  }
}

ul {
  list-style: none;
}
