a {
  //background-color: #ff1493;
  //background-image: linear-gradient(319deg, #ff1493 0%, #0000ff 37%, #ff8c00 100%);

  //-webkit-background-clip: text;
  //-webkit-text-fill-color: transparent;

  transition: all 300ms ease;
  color: black;
  text-decoration: none;
  font-weight: 500;

  &:hover {

  }
}
