.container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: black;
}

.img-wrapper {
  overflow: hidden;
  position: relative;
  transition: transform 0.75s cubic-bezier(0.165, 0.84, 0.44, 1),
  -webkit-transform 0.75s cubic-bezier(0.165, 0.84, 0.44, 1);
  cursor: pointer;
  width: 30%;

  &:hover {
    transform: scale(0.95);

    img {
      transform: scale(1.2);
    }
  }

  img {
    width: 100%;
    transition: transform 0.75s cubic-bezier(0.165, 0.84, 0.44, 1),
    -webkit-transform 0.75s cubic-bezier(0.165, 0.84, 0.44, 1);
  }
}
